<h2>{{ isEditPage ? "Edit" : "Create" }} Song</h2>

<form [formGroup]="songForm" (ngSubmit)="getSongForm()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter name"
      formControlName="name"
    />
    <div
      *ngIf="
        songForm.get('name').hasError('required') &&
        songForm.get('name')?.touched
      "
      class="text-danger"
    >
      Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="singerList">Singer List</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter name"
      formControlName="singerList"
    />
    <div
      *ngIf="
        songForm.get('singerList').hasError('required') &&
        songForm.get('singerList')?.touched
      "
      class="text-danger"
    >
      Singer List is required
    </div>
  </div>
  <div class="form-group">
    <label for="type">Song Type</label>
    <select class="form-control" formControlName="type">
      <option value="">Select Song type</option>
      <option value="pop">Pop</option>
      <option value="metal">Metal</option>
      <option value="rock">Rock</option>
      <option value="rock">Old</option>
      <option value="rock">Jazz</option>
      <!-- Add more options as needed -->
    </select>
    <div
      *ngIf="
        songForm.get('type').hasError('required') &&
        songForm.get('type')?.touched
      "
      class="text-danger"
    >
      Type is required
    </div>
  </div>
  <div class="btn-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
