<div class="search-wrapper">
  <input
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search Songs"
    aria-label="Search"
    [(ngModel)]="searchText"
    (ngModelChange)="searchSongs($event)"
  />
</div>
<table className="table">
  <thead>
    <tr>
      <th>S.N</th>
      <th>Name</th>
      <th>Type</th>
      <th>Singers</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let song of songLists; let i = index">
      <td>{{ i }}</td>
      <td width="100px" [title]="song.name">
        <span class="name">
          {{ song.name }}
        </span>
      </td>
      <td>{{ song.type }}</td>
      <td>{{ combineSingerList(song.singerList) }}</td>
      <td>
        <div class="btn-wrapper">
          <button (click)="viewEdit(song)" class="btn btn-primary">Edit</button>
          <button (click)="viewDetail(song)" class="btn btn-primary">
            Detail
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
