table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 20px 0;
}

table {
  th {
    background-color: #eee !important;
  }
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  .name {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.btn-wrapper {
  display: flex;
  gap: 12px;
}

.search-wrapper {
  display: flex;
  justify-content: end;
  input {
    width: 300px;
    margin-top: 12px;
  }
}
